@media(max-width: 1100px) {

    .promo {
        background-position: left center;
    }

    .menu-list {
        display: none;
    }

    .menu-mobile {
        display: flex;
        gap: 0 20px;
    }

    .log-img {
        width: 50px;
    }

    .nav {
        align-items: center;
    }

    .title {
        font-size: 64px;
    }

    .subtitle {
        font-size: 42px;
    }

    .subtitle span {
        font-size: 32px;
    }
}

@media(max-width: 969px) {
    .evo-white__inner::after {
        display: none;
    }
}


@media(max-width: 840px) {

    .menu-btn {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 45px;
        height: 30px;
        background-color: transparent;
        border: none;
        cursor: pointer;
        z-index: 10;
    }

    .menu-btn span {
        height: 3px;
        width: 100%;
        background-color: #fff;
    }

    .menu-mobile {
        display: none;
    }

    .menu-mobile.menu--open {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #000;
        height: 100vh;
        z-index: 5;
        text-align: center;
        padding-top: 140px;
    }

    .menu-link {
        color: #FFF;
        font-size: 3vh;
        display: block;
        padding: 20px 0;
    }

    .logo {
        z-index: 10;
    }

    .info__part-textbox {
        display: block;
        padding-bottom: 15px;
    }

    .info__part {
        display: block;
    }

    .info__part--second .info__text,
    .info__part--third .info__text {
        max-width: 100%;
    }

    .info__table {
        width: 100%;
    }

    .info-part-img {
        width: 100%;
    }
}

@media(max-width:770px) {

    .blog__guote {
        flex-direction: column;
    }

    .blog__guote-box {
        flex-basis: auto;
    }

    .blog__guote-img {
        order: -1;
    }

    .blog__item-img {
        width: 100%;
    }

    .info__part {
        padding-top: 50px;
    }


    .evo-black__img {
        margin-top: 130px;
    }

    .evo-white__inner {
        padding-top: 75px;
    }

    .evo-white__inner {
        padding-top: 75px;
    }

    .blog,
    .blog__slider,
    .evo {
        margin-bottom: 70px;
    }
}

@media(max-width:670px) {
    .evo-white__inner::before {
        display: none;
    }

    .evo-descr-list {
        display: block;
        text-align: center;
    }

    .evo-descr-list div {
        margin-bottom: 15px;
    }

    .evo-black__info {
        display: block;
    }

    .evo-black__title {
        margin-bottom: 20px;
    }

    .footer__top {
        display: block;
    }

    .map {
        width: 100%;
        margin: 0 auto;
    }

    .evo-white__video {
        margin-top: 50px;
    }

    .evo-white__inner {
        padding-top: 75px;
    }



    .footer {
        padding: 50px 0;
    }
}

@media(max-width: 560px) {

    .title {
        font-size: 48px;
    }

    .subtitle {
        font-size: 34px;
    }

    .subtitle span {
        font-size: 26px;
    }

    .info__table td:nth-child(2) {
        padding-left: 5px;
        padding-right: 5px;
    }

    .evo-black-inner::after {
        display: none;
    }

}

@media(max-width: 480px) {

    .footer__bottom {
        display: block;
        text-align: center;
    }

    .footer__logo {
        padding: 20px 0;
        display: block;
    }
}

@media(max-width: 340px) {

    .title {
        font-size: 42px;
    }

    .subtitle {
        font-size: 30px;
    }

}

@media(max-width: 320px) {
    .menu-link {
        padding: 15px 0;
    }
}